# Evolution API Configuration
VITE_EVO_API_URL=https://eapi.futurosolaroficial.cloud
VITE_EVO_API_KEY=0863038B5D0E-454F-816B-F11969203CBF
VITE_EVO_INSTANCE=3201faf8-dff2-4e1f-b19e-074572ab63b8

# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_GEMINI_API_KEY=
APP_URL=
